<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.huihu.commonlib">

    <application>
        <activity android:name=".utils.permission.PermissionRequestActivity"
            android:windowIsTranslucent="true"
            android:windowBackground="@android:color/transparent"
            android:windowContentOverlay="@null"
            android:windowNoTitle="true"
            android:windowIsFloating="true"
            android:backgroundDimEnabled="false"/>
    </application>

</manifest>
